@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr/>
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Address.Building)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Company.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Store.Id"/>
        <input type="submit" value="Delete" class="btn btn-secondary"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>