<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Lab2</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div class="container body-content">
    @RenderBody()
</div>
<script src="~/node_modules/jquery/dist/jquery.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

@RenderSection("Scripts", false)
</body>
</html>